:root {
  --background: #efefef;
  --text: #2b2b2b;
  --lightText: #bfbfbf;
  --primary: #8e3574;
  --secondary: #a33282;
  --shape: #f7f7f7;

  //default
  --red: red;
  --blue: #519bc2;
  --blue-light: #52c3ff;
  --white: white;
  --gray: gray;
  --gray-light: #d3d3d3;
  --black: black;
  --lightGray: lightgray;
  --orange: orange;
}
