.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  padding: 16px;

  .valuesWrapper {
    background-color: var(--secondaryDark);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 50px;
  }

  .calculatorItems {
    display: flex;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: var(--primaryDark);

    .moreOperatos {
      display: grid;
      grid-template-columns: 50px 50px 50px;
      grid-template-rows: 60px;
      gap: 15px 30px;
      grid-template-areas: ". . .";
      padding: 20px 15px 0 20px;

      button {
        color: var(--moreOperators);
      }
    }

    .numbers {
      display: grid;
      grid-template-columns: 65px 65px 65px;
      grid-template-rows: 45px 45px 45px 45px;
      gap: 15px 15px;
      grid-template-areas:
        ". . ."
        ". . ."
        ". . ."
        ". . .";
      padding: 0 15px 20px 20px;
    }

    .operators {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px 20px 20px 0;

      button {
        color: var(--operators);
      }
    }
  }
}
